/* Style général de la page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5;
}

/* Container principal */
.login-container {
    display: flex;
    justify-content: space-between; /* Espacement entre les sections */
    align-items: flex-start; /* Alignement au début */
    width: 80%; /* Largeur de la page */
    max-width: 1200px; /* Largeur maximale */
    background-color: white; /* Couleur de fond */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Ombre pour le conteneur */
    
    padding-left: 150px; /* Augmenter le padding à gauche */
    padding-right: 150px;
    padding-bottom: 150px;
    padding-top: 100px;
}

/* Section logo */
.logo img {
    width: 350px; /* Taille du logo réduite */
    margin-bottom: 10px; /* Espace sous le logo */
    display: block;
    margin: 10 auto; /* Centrer le logo */
    margin-top: 10px
}

/* Section du formulaire */
.form-section {
    flex: 1;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* Réduire l'espace en haut à 10px */
    
}

/* Style du formulaire */
.form {
    width: 100%;
    max-width: 400px; /* Limiter la largeur du formulaire */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0; /* Supprimer l'espace en haut et en bas du formulaire */
}

/* Champs de formulaire */
.form label {
    position: relative;
    margin-bottom: 20px;
}

.form .input {
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px; /* Coins arrondis */
    padding: 12px;
    margin-bottom: 20px; /* Réduire l'espace entre les champs */
    font-size: 16px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre interne */
 
}

/* Styles des labels et transitions */
.form label .input + span {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 10px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
    border-radius: 10px;
   
   
}

.form label .input:placeholder-shown + span {
    top: 10px;
    font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
    top: -10px;
    font-size: 0.7em;
    font-weight: 600;
}

/* Bouton de soumission */
.submit {
    background-color: #112f57; /* Couleur du bouton */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Effet de transition */
}

.submit:hover {
    background-color: #0d2343;
}

/* Styles pour les liens */
.signin {
    text-align: center;
}

.signin a {
    color: #112f57;
    text-decoration: none;
}

.signin a:hover {
    text-decoration: underline;
}



.title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
